<div class="app-name">SalesTraqr</div>
<div class="headline">Your Ultimate Solution for Efficient Sales Recording and Tracking</div>

<div class="centralize">
  <div
    class="signin-btn"
    (click)="onClickGoogleAuth()"
    matTooltip="Mit Google-Konto anmelden"
  >
    <button mat-stroked-button>
      <span class="logo"><img src="assets/imgs/google_logo.png" /></span>
      <span class="txt">Continue with Google</span>
    </button>
  </div>

  <div class="signin-btn" (click)="onClickFacebookAuth()">
    <button mat-stroked-button>
      <span class="logo"><img src="assets/imgs/facebook_logo.png" /></span>
      <span class="txt">Continue with Facebook</span>
    </button>
  </div>

  <div class="signin-btn" (click)="onClickEmailAuth()">
    <button mat-stroked-button>
      <span class="logo"><mat-icon>email</mat-icon></span>
      <span class="txt">Continue with E-mail</span>
    </button>
  </div>
</div>
