.centralize {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  .headline {
    color: indianred;
    font-weight: bold;
    margin: 1rem;
  }
  .date {
    text-align: center;
    margin: 1rem;
    span {
      margin: 0.5rem;
      padding: 0.5rem;
      font-weight: bold;
    }
  }
}