<nav>
  <ul class="desktop-nav">
    <li>
      <a routerLink="/home">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <a [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </a>
    </li>
    <!--     <li>
      <a routerLink="/asset-list">assets</a>
    </li>
    <li>
      <a routerLink="/products">liabilities</a>
    </li>
    <li>
      <a routerLink="/networth">net worth</a>
    </li>  -->
    <li>
      <a routerLink="/user">
        <mat-icon>person</mat-icon>
      </a>
    </li>
  </ul>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="assets">
      <!--  <mat-icon>info</mat-icon> -->
      <span class="btn-txt">assets</span>
    </button>
    <button mat-menu-item routerLink="/products">
      <!--  <mat-icon>info</mat-icon> -->
      <span class="btn-txt">liabilities</span>
    </button>
    <button mat-menu-item routerLink="/networth">
      <span class="btn-txt">net worth</span>
    </button>
  </mat-menu>
</nav>

<mat-menu #assets="matMenu">
  <button mat-menu-item routerLink="/asset-list">
    <!--  <mat-icon>info</mat-icon> -->
    <span class="btn-txt">asset list</span>
  </button>
  <button mat-menu-item routerLink="/asset-new">
    <!--  <mat-icon>info</mat-icon> -->
    <span class="btn-txt">new asset</span>
  </button>
 <!--  <button mat-menu-item routerLink="/networth">
    <span class="btn-txt">net worth</span>
  </button> -->
</mat-menu>
