<nav>
  <ul class="desktop-nav">
    <!--  <li class="home">
      <a routerLink="/home">sales book</a>
    </li> -->

    <li>
      <a routerLink="/home">home</a>
    </li>
    <li>
      <a>assets</a>
    </li>
    <li>
      <a routerLink="/products">liabilities</a>
    </li>
    <li>
      <a routerLink="/networth">net worth</a>
    </li>
    <!--     <li>
      <a routerLink="/jobs">jobs</a>
    </li>
    <li>
      <a routerLink="/marketplace">marketplace</a>
    </li>
    <li>
      <a routerLink="/news">news</a>
    </li>
-->
  </ul>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span class="btn-txt">home</span>
    </button> 
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span class="btn-txt">home</span>
    </button>
    -->
    <button mat-menu-item>
      <!--  <mat-icon>info</mat-icon> -->
      <span class="btn-txt">assets</span>
    </button>
    <button mat-menu-item>
      <!--  <mat-icon>info</mat-icon> -->
      <span class="btn-txt">liabilities</span>
    </button>
    <button mat-menu-item routerLink="/networth">
      <span class="btn-txt">net worth</span>
    </button>
    <!--
    <button mat-menu-item routerLink="/user" matTooltip="User information">
      <mat-icon>person</mat-icon>
     <span class="btn-txt">user</span>
    </button>
    <button mat-menu-item routerLink="/jobs">
      <span class="btn-txt">jobs</span>
    </button>
    <button mat-menu-item routerLink="/marketplace">
      <span class="btn-txt">marketplace</span>
    </button>
    <button mat-menu-item routerLink="/news">
      <span class="btn-txt">news</span>
    </button>
 -->
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
    <mat-icon>menu</mat-icon>
  </button>
</nav>
