<div class="device-info">
  <h3>Device information</h3>
  <ul>
    <li>
      <span style="font-weight: bold">User agent:</span> {{ deviceUserAgent }}
    </li>
    <li>
      <span style="font-weight: bold">Device type:</span> {{ deviceType }}
    </li>
    <!--
    <li>Platform: {{ deviceInfo.platform }}</li>
    <li>App version: {{ deviceInfo.appVersion }}</li>
    <li>Screen width: {{ deviceInfo.screenWidth }}</li>
    <li>Screen height: {{ deviceInfo.screenHeight }}</li> 

    <li>Browser: {{ deviceInfo.browser }}</li>
    <li>OS: {{ deviceInfo.os }}</li>
    <li>OS Version: {{ deviceInfo.os_version }}</li>
    <li>Device: {{ deviceInfo.device }}</li>
    <li>Device type: {{ deviceInfo.deviceType }}</li>
    <li>Screen orientation: {{ deviceInfo.orientation }}</li>
    -->
  </ul>
</div>

<div style="text-align: center; margin: 1rem">{{ deviceUserAgent }}</div>

<div style="text-align: center; margin: 3rem 1rem">
  <button mat-fab color="secondary" routerLink="/home">HOME</button>
</div>
