<app-navbar></app-navbar>
<!-- <p style="text-align: center; margin: 3rem;">products works!</p> --> 

<div class="grid">
    <div class="cell">4125574936</div>
    <div class="cell">7083558555</div>
    <div class="cell">2794916307</div>
    <div class="cell">7351849667</div>
    <div class="cell">2756701436</div>
    <div class="cell">5609792264</div>
    <div class="cell">8847491273</div>
    <div class="cell">1848628434</div>
    <div class="cell">3139872469</div>
    <div class="cell">0132235920</div>
  </div>