.title {
  margin: 3rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.calculators {
  margin: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  mat-card {
    width: 21rem;
    margin: 1rem;
    text-transform: capitalize;
    cursor: pointer;
  }
}
