<app-navbar></app-navbar>

<div class="title">rechner</div>

<!-- <div style="text-align: center">Net worth = Assets - Liabilities</div> -->

<div class="calculators">
  <mat-card>
    <mat-card-content routerLink="/einkommensteuer">einkommensteuer</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>erbschaftssteuer</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>gewerbesteuer</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>grundsteuer</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>kapitalertragsteuer</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>kirchensteuer</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>körperschaftsteuer</mat-card-content>
  </mat-card> 
  <mat-card>
    <mat-card-content>solidaritätszuschlag</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>schenkungsteuer</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>umsatzsteuer</mat-card-content>
  </mat-card>
</div>
