<app-navbar></app-navbar>

<div class="title">new liability</div>

<div class="create-form">
  <form [formGroup]="liabilityCreateForm">
    <!-- <h3 style="font-weight: bold">New entry?</h3> -->
    <!--       <mat-form-field appearance="fill">
        <mat-label>Select type</mat-label>
        <mat-select formControlName="accountName">
          <mat-option *ngFor="let i of createTypeList" [value]="i.value">
            {{ i.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>  -->
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="liabilityType">
        <mat-option *ngFor="let i of liabilityTypeList" [value]="i.value">
          {{ i.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="liabilityName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Value ($)</mat-label>
      <input matInput type="number" min="1" formControlName="monetaryValue" />
    </mat-form-field>
    <div class="btns">
      <button mat-raised-button (click)="onClickCancel()">cancel</button>
      <button mat-raised-button color="primary" (click)="onClickSave()">
        save
      </button>
    </div>
  </form>
</div>
