<app-navbar></app-navbar>

<div class="title">New asset</div>

<!-- <p
style="text-align: center; margin: 3rem;">New asset page!</p>
 -->

<div class="create-form">
  <form [formGroup]="assetCreateForm">
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="assetType">
        <mat-option *ngFor="let i of assetCategoryList" [value]="i.value">
          {{ i.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="assetName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Value ($)</mat-label>
      <input matInput type="number" min="1" formControlName="monetaryValue" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label> 
      <input matInput type="date" formControlName="dateOfValue" />
    </mat-form-field>
    <div class="btns">
      <button mat-raised-button (click)="onClickCancel()">cancel</button>
      <button mat-raised-button color="primary" (click)="onClickSave()">
        save
      </button>
    </div>
  </form>
</div>
