<app-navbar></app-navbar>
<div class="title">NetWorth360</div>

<div class="btns">
  <!-- <button mat-raised-button color="primary" (click)="goToPage('customer-list')">customers</button> -->
  <button mat-raised-button color="primary" (click)="goToPage('asset-list')">
    assets
  </button>
  <button mat-raised-button color="primary" (click)="goToPage('numbers')">
    liabilities
  </button>
  <button mat-raised-button color="primary" (click)="goToPage('networth')">
    net worth
  </button>
</div>
<!-- <div class="create-btn">
  <mat-icon (click)="goToPage('create')" matTooltip="Enter new Asset/Liability"
    >add_circle</mat-icon
  >
</div>
<div style="text-align: center; margin: 1rem">
  <button mat-fab extended color="primary" [matMenuTriggerFor]="menu">
    +
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Asset</button>
    <button mat-menu-item>Liability</button>
  </mat-menu>
</div> -->

<app-footer></app-footer>

<div class="device-icon" routerLink="/device-info">
  <mat-icon>perm_device_information</mat-icon>
</div>
