<app-navbar></app-navbar>
<div class="title">Der Steuer Bro</div>

<!--
<div class="btns">
  <button mat-raised-button color="primary" (click)="goToPage('asset/list')">
    assets
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="goToPage('liability/list')"
  >
    liabilities
  </button>
  <button mat-raised-button color="primary" (click)="goToPage('networth')">
    net worth
  </button>
</div>
<div class="create-btn">
  <mat-icon (click)="goToPage('create')" matTooltip="Enter new Asset/Liability"
    >add_circle</mat-icon
  >
</div>
<div style="text-align: center; margin: 1rem">
  <button mat-fab extended color="primary" [matMenuTriggerFor]="menu">
    +
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Asset</button>
    <button mat-menu-item>Liability</button>
  </mat-menu>
</div> -->

<div style="text-align: center;">
  In der Welt der Steuern ist es leicht, sich überfordert und allein zu fühlen. Aber mit <i>Der Steuer Bro</i> an deiner Seite hast du immer einen freundlichen und sachkundigen Begleiter, der dir hilft, dich durch die Komplexitäten des Steuerrechts und der Steuererklärung zu navigieren.
</div>

<app-footer></app-footer>

<div class="device-icon" routerLink="/device">
  <mat-icon>perm_device_information</mat-icon>
</div>
