.create-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-flow: column nowrap;
    mat-form-field {
      width: 21rem;
    }
  }
}
