<app-navbar></app-navbar>

<p style="text-align: center; margin: 3rem">create page works!</p>

<div class="create-form">
  <form [formGroup]="createForm">
    <!-- <h3 style="font-weight: bold">New entry?</h3> -->
    <mat-form-field appearance="fill">
      <mat-label>Select type</mat-label>
      <mat-select formControlName="accountName">
        <mat-option *ngFor="let i of createTypeList" [value]="i.value">
          {{ i.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field appearance="fill">
      <mat-label>Select category</mat-label>
      <mat-select formControlName="categoryName">
        <mat-option *ngFor="let i of setCategoryList(createForm.get('accountName')?.value)" [value]="i.value">
          {{ i.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text">
    </mat-form-field> 
    <mat-form-field appearance="fill">
      <mat-label>Value (Monetary)</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
  </form>
</div>
