@use "@angular/material" as mat;
@include mat.core();

$sba-primary: mat.define-palette(mat.$blue-palette, A700);
$sba-accent: mat.define-palette(mat.$amber-palette, 500);

// The warn palette is optional (defaults to red).
$sba-warn: mat.define-palette(mat.$grey-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sba-theme: mat.define-light-theme(
  (
    color: (
      primary: $sba-primary,
      accent: $sba-accent,
      warn: $sba-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sba-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
/* body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
$myfont: "Roboto Mono", monospace;
* {
  font: 100% $myfont;
}

:root {
  --primary-color: #212121;
  --primary-color-lighter: #424242;
  --secondary-color: #009688;
  --secondary-color-light: #4db6ac;
  --secondary-color-lighter: #b2dfdb;
  --secondary-color-darker: #00695c;
  --txt-black-color: #212121;
  // --primary-color: #424242;
  --txt-white-color: #e0e0e0;
  --bg-color: #f5f5f5;
}
